@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  }

body{
    background-color: #06BEE1;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{background-color: #2A2E45;
padding-top:25px;
padding-bottom:25px;
margin-bottom:2px;}

header, footer{
    background-color:#FB5012;
    text-align:center;
    
}

header{
    padding:10px;
    box-sizing:border-box;
    font-family:"Bitstream Vera Serif Bold", serif;
    border-radius: 10px;
}

#mycarousel{
    width:900px;
    height: 300px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.image-fluid{
opacity:50%;
 }

.my-4{color:#FB5012;}

h3{text-align:center;}

ul {
    border-top:2px solid #2A2E45;
    border-bottom:2px solid #2A2E45;
    margin-top:2px;
    padding:10px;
    width: 100%;
    text-align:center;}

li { display:inline;
margin:20px;
}

footer{
    text-align:center;
    color:#FFFFFF;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
}

.btn {
    width:120px;
    background-color:#2A2E45;
    color:#FFFFFF;
    border-radius:25px;
}

.btn:hover{
    color:#2A2E45;
    background-color:#FB5012;
    font-weight: bold;
}

.btn:active{
    background-color: #FFF;
    color:#948392;
}

.btn:visited{
    color:aqua;
    background-color:#2A2E45;
}

#story{
    width:400px;
     margin-left:auto;
     margin-right:auto;
     text-indent: 15px;
    Margin-top:10px;   
}

